@model Library_Project.Models.Book
@{
    ViewBag.Title = "UpdateBook";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<h2>UpdateBook</h2>
<form action="~/library/updatebook" method="post">
    <label>BookId</label>
    <input type="text" name="BookId" style="width: 226px; margin-left: 366px;" value="@Model.BookId" class="form-control" /><br />
    <label>BookName</label>
    <input type="text" name="BookName" style="width: 226px; margin-left: 366px;" value="@Model.BookName" class="form-control" /><br />
    <label>BookDescription</label>
    <input type="text" name="BookDescription" style="width: 226px; margin-left: 366px;" value="@Model.BookDescription" class="form-control" /><br />
    <input type="submit" class="btn btn-success" />
</form>
